.categories-listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

@media (900px <= width) {

    .categories-listing__short-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .categories-listing__short-2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .categories-listing__long-1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .categories-listing__long-2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}


@media (width < 900px) {

    .categories-listing {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (width < 600px) {

    .categories-listing {
        grid-template-columns: repeat(1, 1fr);
    }
}
