.catalog {
    margin-top: 32px;
    display: grid;
    grid-template-columns: minmax(0, 25.1042fr) minmax(0, 74.8958fr);

    /* Подробнее про 25.1042fr и 74.8958fr.
     *
     * Задача сделать две колонки: 25% + 75% с четырьмя пикселями между ними (gap: 4px).
     * Та, которая 75% потом ещё разобьётся на три равные части.
     *
     * С другой стороны, по дизайну это должно смотреться как 25% + 25% + 25% + 25%

     * И это не одно и то же. Нужно, что бы при первом делении на две колонки
     * отступ полностью ушёл в левую часть, а не распределился поровну. По-этому
     * ширина левой колонки не 25%, а 25.1042%.
     *
     * На десктопе колонки в пикселях получаются такими:
     * (237 + 4) + (237 + 4 + 237 + 4 + 237)
     */
}
    .catalog__header {
        flex-basis: 0;
        display: inline-flex;
        flex-direction: column;
        padding-right: 16px;
    }
        .catalog__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .catalog__menu {

        }
            .catalog__link {
                display: block;
                padding-top: 5px;
                padding-bottom: 4px;
                font-size: 18px;
                line-height: 24px;
                color: inherit;
                text-underline-offset: 4px;
                text-decoration-thickness: 1px;
                text-decoration-color: transparent;
            }

            .catalog__link:hover {
                color: var(--action-color);
                text-decoration-color: rgb(15 98 254 / 40%);
            }

    .catalog__body {

    }

    .catalog__more {
        display: none;
    }

.catalog--reverse {
    grid-template-columns: minmax(0, 74.8958fr) minmax(0, 25.1042fr);
}
    .catalog--reverse .catalog__body {
        order: -1;
    }

    .catalog--reverse .catalog__header {
        padding-right: 0;
        padding-left: 16px;
    }



@media (width < 900px) {

    .catalog {
        /*margin-top: 32px;*/
        display: block;
        /*grid-template-columns: minmax(0, 25.1042fr) minmax(0, 74.8958fr);*/
    }
        .catalog__header {
            /*flex-basis: 0;*/
            display: block;
            /*flex-direction: column;*/
            padding-right: 0;
        }
            .catalog__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
            }

            .catalog__menu {
                display: flex;
                overflow-x: auto;
                gap: 13px;

                /* Прижимаем скролл к краям */
                margin-left: calc(-1 * var(--container-padding));
                margin-right: calc(-1 * var(--container-padding));
                padding-left: var(--container-padding);
                padding-right: var(--container-padding);
            }

            /* На этом диапазоне контейнер имеет максимальную ширину и прижатый скролл смотрится не оч. */
            @media (431px <= width < 600px) {
                .catalog__menu {
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 0;
                    padding-right: 0;
                }
            }

                .catalog__link {
                    /*display: block;*/
                    /*padding-top: 5px;*/
                    padding-bottom: 13px;
                    /*font-size: 18px;*/
                    /*line-height: 24px;*/
                    /*color: inherit;*/
                    white-space: nowrap;
                    /*text-underline-offset: 4px;*/
                    /*text-decoration-thickness: 1px;*/
                    /*text-decoration-color: transparent;*/
                }

                .catalog__link:hover {
                    /*color: var(--action-color);*/
                    /*text-decoration-color: rgb(15 98 254 / 40%);*/
                }

        .catalog__body {

        }

        .catalog__more {

        }


    .catalog--reverse {
        /*grid-template-columns: minmax(0, 74.8958fr) minmax(0, 25.1042fr);*/
    }
        .catalog--reverse .catalog__body {
            /*order: -1;*/
        }

        .catalog--reverse .catalog__header {
            /*padding-right: 0;*/
            padding-left: 0;
        }
}



@media (width < 600px) {

    .catalog {
        margin-top: 36px;
    }
        .catalog__header {

        }
            .catalog__heading {

            }

            .catalog__menu {

            }
                .catalog__link {

                }

                .catalog__link:hover {

                }

        .catalog__body {

        }

        .catalog__more {
            display: block;
            margin-top: 4px;
        }
            .catalog__more .button {
                width: 100%;
            }


    .catalog--reverse {

    }
        .catalog--reverse .catalog__body {

        }

        .catalog--reverse .catalog__header {

        }
}



