.catalog {
    margin-top: 32px;
    display: grid;
    grid-template-columns: minmax(0, 25.1042fr) minmax(0, 74.8958fr);
}
    .catalog__header {
        flex-basis: 0;
        display: inline-flex;
        flex-direction: column;
        padding-right: 16px;
    }
        .catalog__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .catalog__menu {

        }
            .catalog__link {
                display: block;
                padding-top: 5px;
                padding-bottom: 4px;
                font-size: 18px;
                line-height: 24px;
                color: inherit;
                text-underline-offset: 4px;
                text-decoration-thickness: 1px;
                text-decoration-color: transparent;
            }

            .catalog__link:hover {
                color: var(--action-color);
                text-decoration-color: rgb(15 98 254 / 40%);
            }

    .catalog__body {

    }


.catalog--reverse {
    grid-template-columns: minmax(0, 74.8958fr) minmax(0, 25.1042fr);
}
    .catalog--reverse .catalog__body {
        order: -1;
    }

    .catalog--reverse .catalog__header {
        padding-right: 0;
        padding-left: 16px;
    }



