.contacts {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
}
    .contacts__body {
        flex-basis: 50%;
        padding-right: 53px;
    }
        .contacts__heading {

        }

        .contacts__description {
            margin-top: 16px;
            font-size: 18px;
            line-height: 25px;
        }

        .contacts__param {
            margin-top: 10px;
        }
            .contacts__sub-heading {
                margin-top: 0;
                margin-bottom: 0;
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
            }

            .contacts__value {
                font-size: 18px;
                line-height: 25px;
            }

    .contacts__map {
        margin-top: 48px;
        flex-basis: 50%;
    }
        .contacts__widget {
            width: 100%;
            height: auto;
            border-radius: 2px;
        }



@media (width < 900px) {

    .contacts {

    }
        .contacts__body {
            padding-right: 32px;
        }

        .contacts__map {

        }
}


@media (width < 600px) {

    .contacts {
        display: block;
    }
        .contacts__body {

        }

        .contacts__map {
            margin-top: 32px;
            /*flex-basis: 50%;*/
        }
}
