.footer {
    margin-top: 45px;
}
    .footer__primary {
        display: flex;
        align-items: flex-start;
    }
        .footer__contacts {
            flex-grow: 1;
        }
            .footer__social {
                margin-bottom: 2px;
                margin-left: -6px;
                margin-right: -6px;
                display: flex;
                align-items: flex-start;
            }

            .footer__channel {

            }

            .footer__channel + .footer__channel {
                margin-top: 16px;
            }

        .footer__navigation {
            margin-top: 7px;
            flex-grow: 2;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
            .footer__section {

            }
                .footer__menu {
                    display: inline-flex;
                    flex-direction: column;
                    font-size: 16px;
                    line-height: 20px;
                    white-space: nowrap;
                }
                    .footer__menu .link {
                        padding-top: 5px;
                        padding-bottom: 4px;
                        white-space: nowrap;
                    }

    .footer__addition {
        margin-top: 43px;
        border-top: 1px solid rgb(0 0 0 / 10%);
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        align-items: baseline;
        gap: 16px;
    }
        .footer__copyright {
            font-size: 16px;
            line-height: 20px;
        }

        .footer__agreements {
            display: flex;
            align-items: baseline;
            gap: 16px;
            font-size: 16px;
            line-height: 20px;
        }


@media (width < 900px) {

    .footer {

    }
        .footer__primary {
            display: block;
            flex-wrap: wrap;
        }
            .footer__contacts {

            }
                .footer__social {

                }

                .footer__channel {

                }

                .footer__channel + .footer__channel {

                }

            .footer__navigation {
                margin-top: 35px;
            }
                .footer__section {
                    overflow: hidden;
                }
                    .footer__menu {

                    }
                        .footer__menu .link {

                        }

        .footer__addition {

        }
            .footer__copyright {

            }

            .footer__agreements {

            }
}


@media (width < 600px) {

    .footer {

    }
        .footer__primary {

        }
            .footer__contacts {

            }
                .footer__social {

                }

                .footer__channel {

                }

                .footer__channel + .footer__channel {

                }

            .footer__navigation {
                flex-wrap: wrap;
                gap: 24px 0;
            }
                .footer__section {
                    flex-basis: 50%;
                }
                    .footer__menu {

                    }
                        .footer__menu .link {

                        }

        .footer__addition {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
            .footer__copyright {

            }

            .footer__agreements {
                display: inline-flex;
                flex-direction: column;
                align-items: stretch;
                gap: 0;
            }
                .footer__agreements .link {
                    padding-top: 5px;
                    padding-bottom: 4px;
                }
}




