.link,
.wysiwyg a {
    display: inline;
    vertical-align: baseline;
    padding: 6px 0; /* Extend the clickable area and ensure the link remains clickable even if the cursor is between lines */
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: var(--action-color);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.3125em;
    cursor: pointer;
    transition: text-decoration-color var(--transition-hover);
}

.link:hover,
.wysiwyg a:hover {
    text-decoration-color: transparent;
}

.link:active,
.wysiwyg a:active {
    color: #6F6F6F;
    transition: none;
}


.link--text-color,
.wysiwyg .link--text-color {
    color: inherit;
    text-decoration-color: rgb(0 0 0 / 10%);
}

.link--text-color:hover,
.wysiwyg .link--text-color:hover {
    text-decoration-color: rgb(15 98 254 / 60%);
    color: var(--action-color);
}


.link--text-alike,
.link--text-alike:hover,
.link--text-alike:active,
.wysiwyg .link--text-alike,
.wysiwyg .link--text-alike:hover,
.wysiwyg .link--text-alike:active {
    text-decoration: none;
    color: inherit;
}


.link--fake,
.link--fake:hover,
.link--fake:active,
.wysiwyg .link--fake,
.wysiwyg .link--fake:hover,
.wysiwyg .link--fake:active {
    text-decoration: none;
    color: inherit;
    cursor: text;
}



