:root {
    --font: "Onest", sans-serif;
    --body-font-size: 18px;
    --body-line-heigth: 25px;
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-hover: 100ms ease;
    /*--transition-show: 1200ms var(--ease-out-quint);*/
    --image-fallback: #F3F5F4;
    --container-padding: 32px;
    /*--error: #FF0033;*/
}

@media (width < 1199px) {
    :root {
        --container-padding: 12px;
    }
}
